body{
    font-family: 'Roboto', sans-serif;
    margin: 0 8px 0 8px;
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
}

a{
    color: black;
}

.nostyle{
    text-decoration: none;
}

.dot{
    background-color: black;
    width: 5px;
    height: 5px;
    position: absolute;
}

.parallax{
    position: absolute;
    box-shadow: none;
    background-image: url('back.png');
    width: 99%;
    height: 100vw;
    bottom: -50vw;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 50%;
}

div{
    width: 75%;
    display: inline-block;
    color: white;
    text-align: center;
    box-shadow: 4px 4px 2px 2px#d2d2d2;
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
}

#main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#l{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
}

#r{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
}

#top{
    background-color: #414141;
    width: 100%;
    text-align: center;
    color: white;
    display: inline-block;
    left: 50px;
    margin-top: 0;
    padding: 6% 0 6% 0;
}

#contact{
    background-color: gold;
    width: 50%;
    display: inline-block;
    right: 50px;
    align-self: center;
    color: #414141;
    text-align: center;
    margin-top: 0;
    padding: 18% 0 18% 0;
}

#abt{
    display: inline-block;
    width: 100%;
    background-color: #414141;
    align-self: flex-end;
    right: 50px;
    padding: 5% 0 5% 0;
}

#abttxt{
    color: black;
    align-self: center;
    padding: 5% 0 5% 0;
    background-color: white;
}

#proj{
    display: inline-block;
    width: 100%;
    background-color: #414141;
    align-self: flex-end;
    right: 50px;
}

#projtxt{
    color: black;
    align-self: center;
    background-color: white;
}

#msc{
    display: inline-block;
    width: 100%;
    background-color: #414141;
    align-self: flex-end;
    right: 50px;
}

#msctxt{
    color: black;
    align-self: center;
    background-color: white;
}

footer{
    position: relative;
    background-color: #414141;
    margin: 0;
    padding: 3% 0 3% 0;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    box-shadow: 4px 4px 2px 2px#d2d2d2;
    top: -1%;
}
#totop{
    color: white;
}